page-dashboard {
  .card-background-page {
    ion-card {
      position: relative;
      text-align: center;
    }

    .card-title {
      position: absolute;
      top: 26%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }

    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 56%;
      width: 100%;
      color: #fff;
    }
  }
}
